<div id = "statefields">
    <div class = "statecounter">
        <span class = "yellowcount">{{daten.statistik.start_kapital}}</span>
        <span class = "countdescription">Startkapital</span>
    </div>
    <div class = "statecounter">
        <span class = "yellowcount">{{daten.statistik.ausgefuerte_kaeufe}}</span>
        <span class = "countdescription">Käufe</span>
    </div>
    <div class = "statecounter">
        <span class = "yellowcount">{{daten.statistik.ausgefuerte_verkaeaufe}}</span>
        <span class = "countdescription">Verkäufe</span>
    </div>
    <div class = "statecounter">
        <span class = "yellowcount">{{daten.statistik.gewinn_trades}}</span>
        <span class = "countdescription">Gewinn-Trades</span>
    </div>
    <div class = "statecounter">
        <span class = "yellowcount">{{daten.statistik.hoch_gesamt}}</span>
        <span class = "countdescription">Max. Gewinn (%)</span>
    </div>
    <div class = "statecounter">
        <span class = "yellowcount">{{daten.statistik.performance_pro_jahr}}</span>
        <span class = "countdescription">Ø-Performance pro Jahr (%)</span>
    </div>
    <div class = "statecounter">
        <span class = "yellowcount">{{daten.statistik.maximum_drawdown}}</span>
        <span class = "countdescription">Max. Drawdown (%)</span>
    </div>
    <div class = "statecounter">
        <span class = "yellowcount">{{daten.statistik.nicht_ausgefuerte_kaeufe}}</span>
        <span class = "countdescription">Nicht-ausführbare Käufe</span>
    </div>
    <div class = "statecounter">
        <span class = "yellowcount">{{daten.statistik.nicht_ausgefuerte_verkaeaufe}}</span>
        <span class = "countdescription">Nicht-ausführbare Verkäufe</span>
    </div>
    <div class = "statecounter">
        <span class = "yellowcount">{{daten.statistik.verlust_trades}}</span>
        <span class = "countdescription">Verlust-Trades</span>
    </div>
    <div class = "statecounter">
        <span class = "yellowcount">{{daten.statistik.tief_gesamt}}</span>
        <span class = "countdescription">Max. Verlust (%)</span>
    </div>
    <div class = "statecounter">
        <span class = "yellowcount">{{daten.statistik.performance_gesamt}}</span>
        <span class = "countdescription">Gesamt-Performance (%)</span>
    </div>
</div>